<div class="panel panel-default">
	<div class="panel-heading"><%= t 'article' %></div>
	<div class="panel-body">
		<% if @post.errors.any? %>
			<% @post.errors.full_messages.each do |message| %>
				<% cache message do %>
		<div type="button" class="alert alert-danger alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
			<li><%= message %></li>
		</div>
				<% end %>
			<% end %>
		<% end %>

		<%= form_for @post, :html => { id: "form" } do |f| %>
			<div class="col-md-6">
				<div class="form-group has-success has-feedback">
					<%= f.label :title, 'Título' %>
					<%= f.text_field :title, class: "form-control", placeholder: "Título", :maxlength => "60" %>
				</div>
			</div>

			<div class="col-md-6">
				<div class="form-group has-success has-feedback">
					<%= f.label :description, 'Assunto' %>
					<%= f.text_field :description, class: "form-control", placeholder: "Tema do artigo", :maxlength => "60" %>
				</div>    
			</div>

			<div class="col-md-12">
				<div class="form-group has-success has-feedback">
					<%= f.label :author, 'Autor' %>
					<%= f.text_field :author, class: "form-control", placeholder: "Quem está escrevendo?", :maxlength => "60" %>
				</div>    
			</div>

			<div class="col-md-12">
				<div class="form-group has-success has-feedback">
					<%= f.label :body, 'Artigo' %>
					<%= f.text_area :body, class: "form-control area", placeholder: "Disserte aqui", rows: 15, data: { provide: 'markdown' } %>
				</div>    
			</div>

			<div class="col-md-1 form-group">
				<%= submit_tag t("submit"), class: "btn btn-success" %>
			</div>
		<% end %>
	</div>
</div>