<!DOCTYPE html>
<html>
  <head>
    <title>Teste 1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'posts', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'posts', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "layouts/shared/header" %>
    
    <div class="container">
        <div class="row">
            <%= yield %>
        </div>
    </div>
    
    <%= render partial: "layouts/shared_notice/notifications" %>
  </body>
</html>